/* Header */
#header {
  height: 80px;
  background-color: var(--stroke-400);
}

/* List */
.list .card {
  box-shadow: var(--shadow-2);
  width: 600px;
}

.list .card input[type="text"] {
  padding: 5px;
}

.list .card .btn {
  margin-left: 5px;
  border-radius: 2px;
}

.list .list-item {
  padding: 5px 15px;
  border: 0.5px solid var(--grey-400);
}

.list .form {
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.list .list-item {
  margin: 20px;
}
